<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="CafeBeep" content="CafeBeep">
      <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="../static/css/cafebeep.css">
      <link rel="stylesheet" href="../static/css/style.css">
{#      <link rel="stylesheet" href="../static/css/debug.css">#}
  </head>
  <body>
  <div id="app" class="container">
      {% block body %}{% endblock %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="../static/js/scripts.js"></script>

      {% block scripts %}{% endblock %}
  </div>
  </body>
</html>