
<!--
 * @file MenuGUI_Page2.html
 * @author Blaze Sanders BEEP BEEP Technologies Inc(TM)
 * @date 2019-04-16
 * @link https://aryaboudaie.com/python/technical/educational/web/flask/2018/10/17/flask.html
 * TODO: DESIGN TO MATCH - https://docs.google.com/presentation/d/1k3KfbtSabTe1aBXNeYydRW-ElHDFg9CbhrUZAfb_Uhg/edit#slide=id.g30aea89634_0_121
 * @version 1.0
 *
 * @brief HTML code to render Web 1.0 highest level menu screen for cafeBEEP robotic coffee kiosk
 *	
 * @section DESCRIPTION
 *
 * Page #3 of Menu Screen that displays the currently available menu for a kiosk configuration 
 * TODO: Red (0xB8191D), Tan (0xFEDFB3), White (0xFDFDFD) and/or Black (0x010306)
 * https://www.brunildo.org/test/space-chars.html [　] ideographic space U+3000
 * <a href="http://www.htmldog.com" <(/a)
 * https://htmldog.com/guides/html/beginner/forms/
 *  	
 -->
<html lang="en">
  <head>
  	<title>Menu GUI Page 2</title>

    <!--TODO CSS STUFF HERE-->
    <style type="text/css">
      
      table {
      	font-family: Source Sans Pro, Arial, Courier New; /* Try Source San PRo typeface first and Courier New last */ 
      }
      
      button {
      	outline: 0;  /* Turn off annoying blue highlight around button during click> */ 
      }
    </style>

  </head>

  <body>
  	<!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
	<script language ="JavaScript">
 	  var drinkID = new Array();
	  drinkID[0] = TODO;
	</script>
	<table>
  	  <tr>
        <td width="153" height="75">
	        <center> <img src="{{ url_for('static', filename='Images/cafeBEEP_Menu_Logo.png') }}" width="153" height="35" alt="cafeBEEP Logo"> </center>
        </td> <!-- END ROW 1, CELL 1 -->

        <td>
 		      <center><h2 style="color: #B8191D; margin-top:22px"> Welcome {{ userFirstName }} </h2></center> <!-- DEFAULT to BEEP BEEP Technologies-->
        </td> <!--END ROW 1, CELL 2-->
      </tr>

      <tr>
        <td width="200" height="200">
          <center> <h3 style="color: #000000;"> Most Popular </h3></center> 
	  <center> <h4 style="color: #000000;"> {{ drinkID0 }} ({{ drinkPercentage0 }}%) </h4></center> 
          <center> <h4 style="color: #000000;"> {{ drinkID1 }} ({{ drinkPercentage1 }}%) </h4></center> 
    	  <center> <img src="../static/Images/userAvatar.png" width="70" height="70" alt="User Avatar UserID: 15105139110"> </center> <!-- Source Image is  597 x 597 -->
        </td> <!END ROW 2, CELL 1 >
        <td>
          <table>
            <tr>
        	  <td width="210"> 
          	    <button style="background-color: #FDFDFD; color: #000; display: inline-block; padding: 20px 30px; width: 200px; font-weight: bold; border-radius: 20px;" type="/Config1_Drink1\" value="/Config1_Drink1\"> 
          	    	<br>
          	    	<center> <img src="{{ url_for('static', filename='Images/Cup.png') }}" width="100" height="70" alt="Cup"> </center> <!-- Source Image is  1600 x 1116 -->
          	    	<br> <center> {{ drinkID0 }} </center> <!-- Two [　] ideographic spaces U+3000 -->
          	    </button>	
          	  </td> <!--INTERNAL END ROW 1, CELL 1-->
          
      		  <td width="210"> 
				<button style="background-color: #FDFDFD; color: #000; display: inline-block; padding: 20px 30px; width: 200px; font-weight: bold; border-radius: 20px;" type="/Cold_Brew\" value="/Cold_Brew\">   
					<br>
					<center> <img src="{{ url_for('static', filename='Images/Cup.png') }}" width="100" height="70" alt="Cup"> </center>  <!-- Source Image is  1600 x 1116 -->
					<br><center> {{ drinkID1 }} </center><!-- Two [　] ideographic spaces U+3000 -->
         		</button>
        	  </td> <!--INTERNAL END ROW 1, CELL 2-->
      	    </tr>	
          </table>
        </td><!--END ROW 2, CELL 2-->
      </tr> 
  	</table>
  </body>
</html>
