<!--
 * @file MenuGUI_CustomizePage.html
 * @author Blaze Sanders BEEP BEEP Technologies Inc(TM)
 * @date 2019-05-10
 * @link www.cafebeep.com/drinks
 * @version 2019.0
 *
 * @brief HTML, CSS, and Javascript code to render page where users select add-ons (e.g. milk and sugar) for their drink.
 *
 * @section DESCRIPTION
 *
 * This screen displays the currently available add0ons for a kiosk configuration, TODO
 *
 * This HTML uses special Unicode blank characters for  layout - [　] ideographic space U+3000. 
 * More details can be found at  https://www.brunildo.org/test/space-chars.html 
 * 
 *
 *
 * https://aryaboudaie.com/python/technical/educational/web/flask/2018/10/17/flask.html
 * TODO: DESIGN TO MATCH - https://docs.google.com/presentation/d/1k3KfbtSabTe1aBXNeYydRW-ElHDFg9CbhrUZAfb_Uhg/edit#slide=id.g30aea89634_0_121
 * TODO: Red (0xB8191D), Tan (0xFEDFB3), White (0xFDFDFD) and/or Black (0x010306)
 * https://www.brunildo.org/test/space-chars.html [　] ideographic space U+3000
 * <a href="http://www.htmldog.com" <(/a)
 * https://htmldog.com/guides/html/beginner/forms/
 *    
 -->
<html lang="en">
  <head>
  	<title>Menu GUI Page 2</title>

    <!--TODO CSS STUFF HERE-->
    <style type="text/css">
      
      table {
      	font-family: Source Sans Pro, Arial, Courier New; /* Try Source San PRo typeface first and Courier New last */ 
      }
      
      button {
      	outline: 0;  /* Turn off annoying blue highlight around button during click> */ 
      }
    </style>

  </head>

  <body>
  	<!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <!--DO STUFF TO BUTTON TO CHANGE PAGE-->
	<script language ="JavaScript">
 	  var drinkID = new Array();
	  drinkID[0] = TODO;
	</script>
	<table>
  	  <tr>
        <td width="153" height="75">
	        <center> <img src="{{ url_for('static', filename='Images/cafeBEEP_Menu_Logo.png') }}" width="153" height="35" alt="cafeBEEP Logo"> </center>
        </td> <!-- END ROW 1, CELL 1 -->

        <td>
 		      <center><h2 style="color: #B8191D; margin-top:22px"> Customize your drink </h2></center> <!-- DEFAULT to BEEP BEEP Technologies-->
        </td> <!--END ROW 1, CELL 2-->
      </tr>

      <tr>
        <td width="200" height="200"> 
    	    <center> <img src="{{ url_for('static', filename='Images/CustomCup.png') }}" width="200" height="256" alt="CustomCup"> </center> <!-- Source Image is  597 x 597 -->
          <center> <h4 style="color: #000000;"> {{ selectedDrinkName }} </h4></center> 
        </td> <!--END ROW 2, CELL 1-->
        
        <td>
          <table>
            <tr>
        	  <td width="410"> 
          	  <label> Top </label><br> 
              <select> <!--autofocus-->
                <option value="Cinnamon"> Cinnamon </option>
                <option value="Chocolate"> Chocolate </option>
                <option value="Foam"> Foam </option>  
              </select>
              <button style="background-color: #FDFDFD; display: inline-block; padding: 15px 5px; height: 30px; width: 80px; border-radius: 5px;" type="/TOP_LEVEL_1\" value="/TOP_LEVEL_1\"> 
              </button>
              <button style="background-color: #FDFDFD; display: inline-block; padding: 15px 5px; height: 30px; width: 80px; border-radius: 5px;" type="/TOP_LEVEL_1\" value="/TOP_LEVEL_1\"> 
              </button>
              <button style="background-color: #FDFDFD; display: inline-block; padding: 15px 5px; height: 30px; width: 80px; border-radius: 5px;" type="/TOP_LEVEL_1\" value="/TOP_LEVEL_1\"> 
              </button><br><br><br>

              <label> Creamer </label><br>
              <select>
                <option value="Half & Half"> Half & Half </option>
                <option value="Soy"> Soy </option>
                <option value="Oatly"> Oatly </option>  
              </select><br><br><br>

              <label> Base </label><br> 
              <select>
                <option value="Hot Brew"> Hot Brew </option>
                <option value="Cold Brew"> Cold Brew </option>
              </select><br><br><br> 

              <label> Sweetner </label><br>
              <select>
                <option value="Simple Syrup"> Simple Syrup </option>
                <option value="Carmel"> Carmel </option>
                <option value="Chocolate"> Chocolate </option>  
              </select><br><br><br>   
          	</td> <!--INTERNAL END ROW 1, CELL 1-->
          
      		  <td width="210"> 
				
        	  </td> <!--INTERNAL END ROW 1, CELL 2-->
      	    </tr>	
          </table>
        </td><!--END ROW 2, CELL 2-->
      </tr> 
  	</table>
    
    
    <table style="width: 710px;"  cellpadding = "2"> <!-- SPACE BETWEEN THE BUTTONS -->  
      <tr>
        <td> <center>
          <button style="background-color: #FDFDFD; color: #000; display: inline-block; padding: 15px 5px; height: 60px; width: 60px; font-weight: bold; border-radius: 5px;" type="/BACK\" value="/BACK\"> <center> ◀ </center> 
          </button> 

          <button style="background-color: #B8191D; color: #000; display: inline-block; padding: 15px 5px; height: 60px; width: 120px; font-weight: bold; border-radius: 5px;" type="/CONFIRM\" value="/CONFIRM\"> <center> CONFIRM </center> 
          </button> </center>
        
        </td> <!-- END ROW 1, CELL 1 -->  
      </tr>     
    
    </table>
    

  </body>
</html>
