{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script>
        $(document).ready(function () {
            $('.dial-button-click').click(function () {
                if($('#phone_number').val().length < 10) {
                    var num = $(this);
                    var text = $.trim(num.find('.dial-number').clone().children().remove().end().text());
                    var telNumber = $('#phone_number');
                    $(telNumber).val(telNumber.val() + text);
                }
            });
            function phonenumber(inputtxt)
            {
                var phoneno = /^\d{10}$/;
                if(inputtxt.value.match(phoneno))
                {
                    return true;
                }
                else
                {
                    alert("Not a valid Phone Number");
                    return false;
                }
            }
            $('.back-button-click').click(function () {
                var textbox = document.getElementById('phone_number');
                var ss = textbox.selectionStart;
                var se = textbox.selectionEnd;
                var ln = textbox.value.length;
                var textbefore = textbox.value.substring(0, ss);    //text in front of selected text
                var textselected = textbox.value.substring(ss, se); //selected text
                var textafter = textbox.value.substring(se, ln);    //text following selected text
                if (ss == se) // if no text is selected
                {
                    textbox.value = textbox.value.substring(0, ss - 1) + textbox.value.substring(se, ln);
                    textbox.focus();
                    textbox.selectionStart = ss - 1;
                    textbox.selectionEnd = ss - 1;
                } else // if some text is selected
                {
                    textbox.value = textbefore + textafter;
                    textbox.focus();
                    textbox.selectionStart = ss;
                    textbox.selectionEnd = ss;
                }
            });
        });
    </script>
    <section class="section">
        <div class="container">
            <section class="hero">
                <h3 class="title has-text-centered is-4">Please enter your phone number.</h3>
            </section>
            <section class="section">
                <div class="columns">
                    <div class="column is-half">
                        <section class="section">
                            <form action="{{ url_for('phonepage') }}" method = post>
                            <div class="field is-horizontal">
                                {{ form.hidden_tag() }}
                              <div class="field-label"></div>
                              <div class="field-body">
                                <div class="field is-expanded">
                                  <div class="field has-addons">
                                    <p class="control">
                                      <a class="button is-static">
                                        +1
                                      </a>
                                    </p>
                                    <p class="control is-expanded">
                                      <input class="input" type="tel" placeholder="Your phone number" id="phone_number" name="phone_number">
                                    </p>
                                  </div>
                                    {% for error in form.phone_number.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                        <script>
                                       $( "input" ).addClass( "is-danger" );
                                        </script>
                                    {% endfor %}
                                  <p class="help">We will send you the text when your drink is ready.</p>
                                </div>
                              </div>
                            </div>
                                <br>
                                <br>
                             <div class="field is-grouped is-grouped-centered top-paddding">
                                <p class="control">
                                    <a class="button is-info is-medium" href="/customize-drink">
                                        Back
                                    </a>
                                </p>
                                <p class="control">
                                <form action = "phonepage" method = "post">
                                    <input class ="button is-medium is-primary" type = "submit" value = "Confirm" />
                                </form>
                                </p>
                             </div>
                        </form>
                        </section>
                    </div>
                    <div class="column is-half">
                         <section class="section">
                             <div class="container csc">
                                        <div class="columns">
                                            <div class="column center">
                                            <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">1</span>
                                            </span>
                                            </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">2</span>
                                              </span>
                                            </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">3</span>
                                              </span>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">4</span>
                                              </span>
                                            </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">5</span>
                                              </span>
                                            </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">6</span>
                                              </span>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">7</span>
                                              </span>
                                            </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">8</span>
                                              </span>
                                            </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">9</span>
                                              </span>
                                            </div>
                                        </div>
                                        <div class="columns">
                                             <div class="column center">
                                              <span class="button dial-button is-secondary back-button-click">
                                                <span class="dial-special">
                                                  <span class="icon">
                                                      <i class="fa fa-caret-left fa-lg"></i>
                                                  </span>
                                                </span>
                                              </span>
                                             </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary dial-button-click">
                                                <span class="dial-number">0</span>
                                              </span>
                                            </div>
                                            <div class="column center">
                                              <span class="button dial-button is-secondary">
                                                <span class="dial-special">#</span>
                                              </span>
                                            </div>
                                        </div>
                                    </div>
                         </section>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
