{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered has-text-primary">Enjoy your personal drink</h1>
            </div>
        </div>
    </section>
   <section class="section">
    <div class="tile is-ancestor">
       <div class="tile is-4 is-parent">
            <article class="tile is-child box">
                <a href="{{ url_for('menu_screen_new') }}", method="GET">
                    <figure class="image is-3by3">
                        <img src="../static/images/cup.png">
                    </figure>
                    <hr>
                    <p class="title has-text-centered">Most Popular</p>
                </a>
           </article>
       </div>
       <div class="tile is-4 is-parent">
            <article class="tile is-child box">
                <a href="{{ url_for('menu_screen_new') }}", method="GET">
                    <figure class="image is-3by3">
                        <img src="../static/images/cup.png">
                    </figure>
                    <hr>
                    <p class="title has-text-centered">Menu</p>
                </a>
           </article>
       </div>
       <div class="tile is-4 is-parent">
            <article class="tile is-child box">
                <a href="{{ url_for('menu_screen_new') }}", method="GET">
                    <figure class="image is-3by3">
                        <img src="../static/images/cup.png">
                    </figure>
                    <hr>
                    <p class="title has-text-centered">My Favorites</p>
                </a>
           </article>
       </div>
    </div>
   </section>
{% endblock %}