.navbar-item img {
    max-height: 2.75rem;
}
.menu.is-large {
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}
.pad-section {
    padding: 3.0rem 1.5rem;
}
.tile {
    border-radius: 15px;
}
.flex-class {
    display: flex;
    justify-content: center;
}
/*phone page*/
.csc{
  width: 250px;
}
.center{
  text-alignment: center;
  margin: 0 auto;
}
.dial-number{
  top:3px;
  position:relative;
  font-size: 1rem;
  width:60px;
  height:60px;
}
.dial-special{
  position:relative;
  top:5px;
  font-size: 2rem;
  width:60px;
  height:60px;
}
.dial-alphabet{
  font-size: 0.8rem;
  position: absolute;
  top: 35px;
}
.dial-button {
  border-radius: 10px;
  width:90%;
    height:auto;
}
.top-paddding {
    padding-top: 5rem;
}